body {
  background-color: rgb(32, 32, 32);
  font-family: "Lato", sans-serif;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgb(28, 28, 28);
}

.home {
  background-color: rgb(46, 54, 35);
  position: relative;
  text-align: center;
  width: 100%;
}
.logo {
  color: white;
  text-align: left;
  font-family: "Alfa Slab One", cursive;
  margin-left: 20px;
  margin-top: 20px;
  cursor: auto;
}

.home-image img {
  margin: auto;
  width: 1200px;
  max-height: auto;
  background-color: rgb(46, 54, 35);
}

.about-text {
  display: inline-block;
  position: absolute;
  text-align: left;
  font-size: 30px;
  color: white;
  top: 8px;
  left: 16px;
  background: rgba(30, 30, 30, 0.3);
}

.navigation {
  text-align: center;
}
.nav-link {
  font-size: x-large;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.nav-link:hover {
  background-color: rgb(71, 169, 68);
  color: black;
}
.unselected {
  background-color: rgb(28, 28, 28);
  color: rgb(255, 255, 255);
}

.selected {
  color: rgb(71, 169, 68);
  text-decoration: none;
}

.plantlist {
  background-color: rgb(28, 28, 28);
}

.search-bar {
  text-align: center;
  display: inline-flexbox;
  margin: 20px 10px;
}

.search-bar input {
  width: 20%;
  padding: 2px;
  border: none;
  margin: auto;
  font-size: 20px;
  background: #f1f1f1;
}

.search-bar h3 {
  text-align: center;
  font-size: 20px;
  color: white;
}

.plant-card {
  text-align: center;
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 30%;
  color: white;
}
.plant-card img {
  max-width: 50%;
}
.single-cards {
  list-style: none;
}

.form-container {
  text-align: center;
  color: white;
  margin: auto;
}

.form-container input {
  padding: 2px;
  margin: auto;
  font-size: 20px;
  background: #f1f1f1;
}

.submit-button {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: auto;
}
.user-card {
  text-align: center;
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 30%;
  color: white;
}

.user-card img {
  max-width: 50%;
}

.user-plants-list {
  background-color: rgb(28, 28, 28);
}

.user-ul {
  list-style: none;
}
