.app {
  margin: 0 auto;
  max-width: 1200px;
}

.home {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}
.logo strong {
  color: green;
}
.home-image img {
  margin: auto;
  width: 60%;
}

.about-text {
  position: absolute;
  top: 8px;
  left: 16px;
}

.navigation {
  text-align: center;
}

.plant-card img {
  max-width: 20%;
}

.single-cards {
  list-style: none;
}

.plant-card {
  margin: 1rem;
}

.user-plant img {
  max-width: 20%;
}
